/* Ajustes generales */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

/* Efectos hover adicionales */
.card-hover-effect:hover {
    background-color: #f8fafc; /* Gris muy claro */
}

/* Animación del Loader (Cargando noticias) */
.loader {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #006D7B; /* Color corporativo */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Transiciones suaves */
a, button {
    transition-property: color, background-color, border-color, transform, box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}
